<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Todo リスト</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
    <div id='app'>
        <div class="container">
            <div class="row mt-3 mb-3">
                <h2>TODO リスト</h2>
                <a class="btn-info"><svg class="info-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/></svg>使い方</a>
            </div>
            <add-todo v-on:todo-form="addTodo"></add-todo>
            <h2>登録済み</h2>
            <div class="todo-item">
                <div class="todo-title">
                    タスク名
                </div>
                <div class="todo-param">
                    <div class="param-label">興味：</div>
                </div>
                <div class="todo-param">
                    <div class="param-label">楽しさ：</div>
                </div>
                <div class="todo-param">
                    <div class="param-label">複雑度：</div>
                </div>
                <div class="todo-param">
                    <div class="param-label">重要度：</div>
                </div>
                <div class="todo-param">
                    <div class="param-label">編集/削除：</div>
                </div>
            </div>
            <div v-for="(todo, index) in todos" v-bind:class="{completed: todo.completed}">
                <div class="todo-item">
                    <div class="todo-title">
                        <input type="checkbox" v-model="todo.completed">
                        <span v-if="!todo.editing">{{ todo.title }}</span>
                        <input v-else type="text" v-model="todo.title" v-show="todo.editing">
                    </div>
                    <div class="todo-param">
                        <!-- <div class="param-label">興味：</div> -->
                        <div class="param-level">{{ todo.interest }}</div>
                        <input v-show="todo.editing" type="range" min="0" max="5" step="1" v-model.number="todo.interest">
                    </div>
                    <div class="todo-param">
                        <!-- <div class="param-label">楽しさ：</div> -->
                        <div class="param-level">{{ todo.pleasant }}</div>
                        <input v-show="todo.editing" type="range" min="0" max="5" step="1" v-model.number="todo.pleasant">
                    </div>
                    <div class="todo-param">
                        <!-- <div class="param-label">複雑度：</div> -->
                        <div class="param-level">{{ todo.complexity }}</div>
                        <input v-show="todo.editing" type="range" min="0" max="5" step="1" v-model.number="todo.complexity">
                    </div>
                    <div class="todo-param">
                        <!-- <div class="param-label">重要度：</div> -->
                        <div class="param-level">{{ todo.importance }}</div>
                        <input v-show="todo.editing" type="range" min="0" max="5" step="1" v-model.number="todo.importance">
                    </div>
                    <div class="buttons">
                        <button v-show="!todo.editing" v-on:click="editTodo(todo, index)"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg></button>
                        <button v-show="todo.editing" v-on:click="doneEdit(todo, index)"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></button>
                        <button v-on:click="removeTodo(index)"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></button>
                    </div>
                </div>
                <div v-if="todo.complexity > 2">
                    <div class="card">
                        <div class="card-body">
                            <div class="todo-item">
                                <div class="todo-title">
                                    サブタスク名
                                </div>
                                <div class="todo-param">
                                    <div class="param-label">興味：</div>
                                </div>
                                <div class="todo-param">
                                    <div class="param-label">楽しさ：</div>
                                </div>
                                <div class="todo-param">
                                    <div class="param-label">複雑度：</div>
                                </div>
                                <div class="todo-param">
                                    <div class="param-label">重要度：</div>
                                </div>
                                <div class="todo-param">
                                    <div class="param-label">編集/削除：</div>
                                </div>
                            </div>
                            <div v-for="(subtodo, index) in subtodos">
                                <div v-show="todo.id == subtodo.id">
                                    <div class="todo-item">
                                        <div class="todo-title">
                                            <input type="checkbox">
                                            <span v-if="!subtodo.editing">{{ subtodo.title }}</span>
                                            <input v-else type="text" v-model="subtodo.title" v-show="subtodo.editing">  
                                        </div>
                                        <div class="todo-param">
                                            <!-- <div class="param-label">興味：</div> -->
                                            <div class="param-level">{{ subtodo.interest }}</div>
                                            <input v-show="subtodo.editing" type="range" min="0" max="5" step="1" v-model.number="subtodo.interest">
                                        </div>
                                        <div class="todo-param">
                                            <!-- <div class="param-label">楽しさ：</div> -->
                                            <div class="param-level">{{ subtodo.pleasant }}</div>
                                            <input v-show="subtodo.editing" type="range" min="0" max="5" step="1" v-model.number="subtodo.pleasant">
                                        </div>
                                        <div class="todo-param">
                                            <!-- <div class="param-label">複雑度：</div> -->
                                            <div class="param-level">{{ subtodo.complexity }}</div>
                                            <input v-show="subtodo.editing" type="range" min="0" max="5" step="1" v-model.number="subtodo.complexity">
                                        </div>
                                        <div class="todo-param">
                                            <!-- <div class="param-label">重要度：</div> -->
                                            <div class="param-level">{{ subtodo.importance }}</div>
                                            <input v-show="subtodo.editing" type="range" min="0" max="5" step="1" v-model.number="subtodo.importance">
                                        </div>
                                        <div class="buttons">
                                            <button v-show="!subtodo.editing" v-on:click="editMicrotodo(subtodo, index)" class="edit-btn" type="button"><img src="img\create-24px.svg" alt="編集" /></button>
                                            <button v-show="subtodo.editing" v-on:click="doneMicroEdit(subtodo, index)"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></button>
                                            <button class="remove-btn" v-on:click="removeMicrotodo(subtodo ,index)"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="!checkMicrotasks" class="micro-form">
                                <add-todo v-on:todo-form="addMicrotask" v-on:input-focus="focusInput(todo, index)"></add-todo>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-database.js"></script>
    <script>
        
        Vue.component('add-todo',{
            props: ['todoindex'],
            template: `<div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card mt-4">
                                    <div class="card-body">
                                    {{ todoindex }}
                                        <form class="add-form" v-on:submit.prevent="addClick">
                                                <div class="col-lg-3 col-md-4 col-sm-10 text-center">
                                                    <input type="text" class="todo-input" placeholder="タスク入力" v-model='inputTodo'@focus="onFocus">
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-6 col-sm-10">
                                                        <div class="label">
                                                            興味：
                                                        </div>
                                                        <div class="level">
                                                            {{ inputInterest }}
                                                        </div>
                                                        <input type="range" min="0" max="5" step="1" v-model.number="inputInterest">
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 col-sm-10">
                                                        <div class="label">
                                                            楽しさ：
                                                        </div>
                                                        <div class="level">
                                                            {{ inputPleasant }}
                                                        </div>
                                                        <input type="range" min="0" max="5" step="1" v-model.number="inputPleasant">
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 col-sm-10">
                                                        <div class="label">
                                                            複雑度：
                                                        </div>
                                                        <div class="level">
                                                            {{ inputComplexity }}
                                                        </div>
                                                        <input type="range" min="0" max="5" step="1" v-model.number="inputComplexity">
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 col-sm-10">
                                                        <div class="label">
                                                            重要度：
                                                        </div>
                                                        <div class="level">
                                                            {{ inputImportance }}
                                                        </div>
                                                        <input type="range" min="0" max="5" step="1" v-model.number="inputImportance">
                                                    </div>
                                                </div>
                                                <div class="row float-right">
                                                    <div class="col-lg-10 col-md-6 col-sm-10">
                                                        <button type="submit" class="submit-button"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg></button>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>`,
            data: function(){
                return {
                    inputTodo: '',
                    inputInterest: 0,
                    inputPleasant: 0,
                    inputComplexity: 0,
                    inputImportance: 0
                }
            },
            methods: {
                addClick: function(){
                    this.$emit('todo-form', this.inputTodo, this.inputInterest, this.inputPleasant, this.inputComplexity, this.inputImportance)
                    this.inputTodo = '',
                    this.inputInterest = 0,
                    this.inputPleasant = 0,
                    this.inputComplexity = 0,
                    this.inputImportance = 0
                },
                onFocus: function() {
                    this.$emit('input-focus')
                }
            }
        })

        var firebaseConfig = {
            apiKey: "AIzaSyCxn221dzyVAtDPGIBAi62k_qUD2seZxHs",
            authDomain: "todo-app-45e88.firebaseapp.com",
            databaseURL: "https://todo-app-45e88-default-rtdb.firebaseio.com",
            projectId: "todo-app-45e88",
            storageBucket: "todo-app-45e88.appspot.com",
            messagingSenderId: "53752902064",
            appId: "1:53752902064:web:cba277cd27c52b45b66675"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        new Vue({
            el: '#app',
            data: {
                database: null,
                todosRef: null,
                subtodosRef: null,
                subtodos: [],
                subtodosArry: [],
                microtodo: '',
                subInterest: 0,
                subPleasant: 0,
                subComplexity: 0,
                subImportance: 0,
                subidArry: [],
                subid: 0,
                newTodo: '',
                idForTodo: 1,
                interest: '0',
                pleasant: '0',
                complexity: '0',
                importance: '0',
                beforeEditCache: '',
                completed: false,
                todos:[]
            },
            created: function() {
                //DBのインスタンスを初期化
                this.database = firebase.database(); //DB参照を取得
                this.todosRef = this.database.ref('todos') //データの読み書きを行う
                this.subtodosRef = this.database.ref('subtodos')

                var _this = this;
                 //データに変更があると実行される
                 this.todosRef.on('value', function(snapshot){ //onメソッド：イベントを監視
                    _this.todos = snapshot.val(); //再取得してtodosに格納
                });
                this.subtodosRef.on('value', function(snapshot){
                    _this.subtodos = snapshot.val();
                });

                this.subtodosRef.on('value', (data)=>{
                    if(data){
                        const rootList = data.val();
                        //const key = data.key;

                        if(rootList != null){
                            Object.keys(rootList).forEach((val) => {
                                //rootList[val].id = val;
                                this.subtodosArry.push(rootList[val])
                            })
                        }

                    }
                })
            },
            methods: {
                addMicrotask: function(microtodo, interest, pleasant, complexity, importance){
                    if (microtodo.trim().length == 0) {
                        return
                    }
                    this.microtodo = microtodo;
                    this.subInterest = interest;
                    this.subPleasant = pleasant;
                    this.subComplexity = complexity;
                    this.subImportance = importance;

                    this.subtodosRef.push({
                        id: this.subid,
                        title: this.microtodo,
                        interest: this.subInterest,
                        pleasant: this.subPleasant,
                        complexity: this.subComplexity,
                        importance: this.subImportance,
                        completed: false,
                        editing: false
                    })
                },
                focusInput: function(todo, index) {
                    this.subid = todo.id
                    console.log(this.subid)
                },
                removeMicrotodo: function(subtodos, index){
                    this.subtodosArry.splice(index, 1);
                    this.database.ref('subtodos').child(index).remove();
                },
                editMicrotodo(subtodo, index){
                    this.beforeEditCache = subtodo.title
                    this.$set(this.subtodos[index], 'editing', true)
                    //this.subtodosArry.splice(, 1, subtodo)
                },
                doneMicroEdit(subtodo, index){
                    if (subtodo.title.trim() == '') {
                    this.title = this.beforeEditCache
                    }
                    subtodo.editing = false;
                    var updates = {};
                    updates[index] = subtodo;
                    this.subtodosRef.update(updates)
                    // this.subtodos.splice(index, 1, {
                    //     id: subtodo.id,
                    //     title: subtodo.title,
                    //     interest: subtodo.interest,
                    //     pleasant: subtodo.pleasant,
                    //     complexity: subtodo.complexity,
                    //     importance: subtodo.importance,
                    //     completed: false,
                    //     editing: false
                    // })
                },
                addTodo: function(todo, interest, pleasant, complexity, importance){
                    if (todo.trim().length == 0) {
                        return
                    }
                    this.todosRef.push({
                        id: this.idForTodo,
                        title: todo,
                        interest: interest,
                        pleasant: pleasant,
                        complexity: complexity,
                        importance: importance,
                        completed: false,
                        editing: false
                    })

                    if(complexity > 2){
                        this.subid = this.idForTodo
                        this.subidArry.push(this.subid)
                        console.log(this.subidArry)
                    }

                    this.idForTodo++
                },
                // addTodo: function(){
                //     if (this.newTodo.trim().length == 0) {
                //         return
                //     }
                //     this.todosRef.push({
                //         id: this.idForTodo,
                //         title: this.newTodo,
                //         interest: this.interest,
                //         pleasant: this.pleasant,
                //         complexity: this.complexity,
                //         importance: this.importance,
                //         completed: false,
                //     })

                //     if(this.complexity > 2){
                //         this.subid = this.idForTodo
                //         console.log(this.subid)
                //     }
                //     //フォームを空にする
                //     this.newTodo = ''
                //     this.interest = 0
                //     this.pleasant = 0
                //     this.complexity = 0
                //     this.importance = 0
                //     this.idForTodo++
                //     },
                createMicrotasks: function() {
                    if(this.complexity > 2){
                        return true
                    }else{
                        this.idForTodo++
                        return false
                    }
                    },
                removeTodo: function(index) {
                    this.database.ref('todos').child(index).remove();
                    //this.todos.splice(index, 1)
                    },
                getIndex: function(todo ,index){
                    this.subid = todo.id
                    console.log(this.subid)
                },
                editTodo(todo, index){
                    console.log(todo)
                    this.beforeEditCache = todo.title
                    this.$set(this.todos[index], 'editing', true)
                    console.log(todo)
                },
                doneEdit(todo, index){
                    if (todo.title.trim() == '') {
                    this.title = this.beforeEditCache
                    }
                    todo.editing = false
                    var updates = {};
                    updates['/todos/' + index] = todo;
                    this.database.ref().update(updates);
                    // this.todos.splice(index, 1, {
                    //     id: todo.id,
                    //     title: todo.title,
                    //     interest: todo.interest,
                    //     pleasant: todo.pleasant,
                    //     complexity: todo.complexity,
                    //     importance: todo.importance,
                    //     completed: false,
                    //     editing: false
                    // })
                },
            },
            computed: {
                checkMicrotasks: function(){
                    if(this.subtodosArry.length > 1){
                        return this.subtodosArry.every(item => item.complexity < 3)
                    }else{
                        return false
                    }
                }
            }
        })
    </script>
    <style>
        body {
            background-color: #fffffe;
            font-family: "Arial", "メイリオ";
            color: #2d334a;
        }

        .btn-info {
            margin-left: 2%;
            padding: 8px 15px;
            display: inline-block;
            text-align: center;
            line-height: 2;
            fill: #272343;
            color: #272343;
            background: #FBE481;
            border-radius: 15px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
        }

        .info-icon {
            padding-bottom: 3px;
            padding-right: 5px;
        }

        .btn-info:hover {
            background: #FBE481;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
        }

        .todo-input {
            margin-top: 5%;
            padding: 0% 10%
        }

        .label {
            font-size: small;
        }

        .level {
            font-size: large;
            font-weight: 700;
        }

        button.submit-button {
            display: block;
            border-style: none;
            outline: none;
            width: 46px;
            height: 46px;
            fill: #272343;
            background: #EDA184;
            text-align: center;/*中央寄せ*/
            border-radius: 50%;/*角丸く*/
            transition: .3s;/*滑らかな動きに*/
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
        }

        button.submit-button:hover {
            background: #EDA184;
            box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
        }

        .completed {
            text-decoration: line-through;
            color: grey;
        }

        .target {
            color: red;
            font-weight: 800;
        }
        
        .todo-title {
            width: 30%;
        }

        .todo-param {
            width: 13%;
        }

        .todo-item {
            display: flex;
            align-items: center;
        }
        
        .param-label {
            font-size: small;
        }

        .param-level {
            font-size: large;
            font-weight: 600;
        }

        @media screen and (max-width: 480px) {
        /* 480pxまでの幅の場合に適応される */
            .todo-input {
                margin-top: 5%;
            }

            .todo-title {
                width: 35%;
            }

            .todo-param {
                width: 10%;
            }

                .param-label {
                font-size: 5px;
            }
        }
    </style>
</body>
</html>